!!!5
/[if lt IE 7] <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie10 lt-ie9" lang="en">
/[if IE 9] <html class="no-js lt-ie10 ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:class => 'no-js', :lang => 'en'} 
  <!--<![endif]-->

  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %title= data.page.title
    = stylesheet_link_tag "style"
    = javascript_include_tag "all"

  %body{:class => page_classes}
    /[if lt IE 7]
      %p.browsehappy 
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
      
    =partial 'partials/header'

    #content
      = yield

    =partial 'partials/footer'
    =partial 'partials/analytics'